.container {
    padding: 32px 24px;
    background-color: #ffffff;
    border: 2px solid #ff9000;
    border-radius: 4px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03); */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 4px 12px rgba(0, 0, 0, 0.5);
  }
  
  .title {
    margin: 0;
    font-size: 62px;
    color: #1a1a1a;
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  .description {
    margin: 0;
    font-size: 17px;
    color: #4b4b4b;
    max-width: 600px;
    line-height: 1.6;
    font-style: italic;
  }